<div class="layout-topbar">
    <div class="container">
        <section class="navigator-bar masthead-wrap">
            <div class="my-avatar">
                <a href="/">
                    <img src="assets/img/me.svg">
                </a>
            </div>
            <div class="navigator-bar left-side-navigator-bar">
                <ul>
                    <li *ngFor="let item of navigatorItems">
                            <a routerLink="/contact">{{item}}</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>