<mat-card *ngIf="currentUser; else spinner">
	<mat-card-title>Hi, I'm {{currentUser.firstName}} {{currentUser.lastName}}</mat-card-title>
	<mat-card-content>
		<div class="about">
			<div>
				<mat-icon aria-hidden="false" aria-label="email icon">email</mat-icon>
				<mat-label>{{currentUser.email}}</mat-label>
			</div>
			<div>
				<mat-icon aria-hidden="false" aria-label="phone icon">phone</mat-icon>
				<mat-label>{{currentUser.phoneNumber}}</mat-label>
			</div>
		</div>

	</mat-card-content>
</mat-card>

<ng-template #spinner>
	<mat-spinner diameter="55"></mat-spinner>
</ng-template>
