@import "src/assets/style/utils";

.form-wrapper {
  .account-container {
    .main-container {
      .control-label {
        color: #222;
        font-weight: 700;
        font-size: 13px;
      }
    }
  }
}