<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="submit-form">
  <div class="form-wrapper">
    <h2>Register</h2>

    <div class="input-field">
      <label>First name</label>
      <input type="text" formControlName="firstName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="input-field">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last name is required</div>
      </div>
    </div>

    <div class="form-actions">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
      </button>
    </div>
  </div>


</form>
