<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="submit-form">
  <div class="form-wrapper">
    <h2>Register</h2>

    <div class="input-field">
      <label>First name</label>
      <label>
        <input type="text" formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
      </label>
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="input-field">
      <label>Last Name</label>
      <label>
        <input type="text" formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
      </label>
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last name is required</div>
      </div>
    </div>

    <div class="input-field">
      <label>Email</label>
      <label>
        <input type="email" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      </label>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Invalid email</div>
      </div>
    </div>

    <div class="input-field">
      <label>Password</label>
      <label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      </label>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="input-field">
      <label>Re-input password</label>
      <label>
        <input type="password" formControlName="matchingPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.matchingPassword.errors }"/>
      </label>
      <div *ngIf="submitted && f.matchingPassword.errors" class="invalid-feedback">
        <div *ngIf="f.matchingPassword.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-actions">
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Register
      </button>
    </div>
  </div>


</form>
