<div class="contact">
    <div class="say-hi">
        <h1><strong>Your Account</strong></h1>
    </div>
    <br>
    <section class="account-container">
        <div class="navigator-bar">
            <div class="main-panel">
                <div class="nav-side-bar">
                    <div class="nav-container">
                        <ul class="side-nav">
                            <li class="side-nav--item" *ngFor="let item of navigatorItems">
                                <a href="/account/{{item}}">
                                    <span>{{item}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-section"></div>
            </div>
        </div>
    </section>
</div>