<form>
	<div class="form-wrapper">
		<div class="contact">
			<header>
				<h2>Your Account</h2>
			</header>
			<br>
			<section class="account-container">
				<div class="main-container">
					<div>
						<div>
							<label>Email</label>
						</div>
						<div>{{currentUser.email}}</div>
					</div>
					<div>
						<div>
							<label>Name</label>
						</div>
						<div>{{currentUser.firstName}} {{currentUser.lastName}}</div>
					</div>
					<div>
						<div>
							<label>Phone number</label>
						</div>
						<div>{{currentUser.phoneNumber}}</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</form>