<form [formGroup]="form" (ngSubmit)="onSubmit()" name="login-form"
 class="login-form submit-form">
    <div class="form-wrapper">
        <div class="user-name input-field">
            <label for="username">Email or mobile no.</label>
            <input type="text" id="username" formControlName="username" />

            <mat-error *ngFor="let error of form.get('username').errors | keyvalue | slice:0:1">
              {{error.key === 'email' ? 'Email format not valid' : ''}}
              {{error.key === 'required' ? 'Email is required' : ''}}
            </mat-error>
        </div>
        <div class="password input-field">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            <mat-error *ngFor="let error of form.get('password').errors | keyvalue | slice:0:1">
              {{error.key === 'required' ? 'Password is required' : ''}}
            </mat-error>
        </div>

        <div class="form-actions">
            <div class="left-div">
                <button class="btn">Log in</button>
            </div>
            <div class="right-div">
                <div>Not account yet?</div>
                <a href="/register" class="register-link">Register</a>
            </div>
        </div>
    </div>
</form>
