mat-card {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.match-detail-wrapper {
    margin: 0 auto;
    width: 50%;
}

.match-info {
    .general-info {
        .match-info-detail {
            margin-bottom: 10px;
            display: flex;
            label {
                margin-left: 10px;
            }
        }
        padding-bottom: 20px;
    }

    .owner-info {
        padding-top: 20px;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgba(0, 0, 0, 0.2);
    }
}

.participant-wrapper {
    display: flex;
    justify-content: space-around;

    .participant-right {
        width: 45%;

        .participant {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .info {
                margin-left: 10px;
            }
        }
    }

    .participant-left {
        width: 45%;

        .participant {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .info {
                margin-left: 10px;
            }
        }
    }

    .participant {
        margin-top: 20px;
    }
}

