<mat-grid-list *ngIf="match" cols="2" class="match-detail-wrapper">
    <mat-grid-tile class="match-info">
        <mat-card>
            <div>
                <div class="general-info">
                    <div class="match-info-detail">
                        <span class="material-icons">today</span>
                        <label> {{match.startDate | date: 'EEEE, d/M/y, h:mm a'}}</label>
                    </div>
                    <div class="match-info-detail">
                        <span class="material-icons">location_on</span>
                        <label> {{match.location}}</label>
                    </div>
                    <div class="match-info-detail">
                        <span class="material-icons">speaker_notes</span>
                        <label>{{match.description}}</label>
                    </div>
                    <div class="match-info-detail">
                        <span>số lượng thành viên: </span>
                        <label>{{match.numberOfPlayers}}</label>
                    </div>
                </div>
                <div class="owner-info">
                    <div>
                        <span>lien he: </span>
                        <label>{{match.owner.firstName}}</label>
                    </div>
                </div>
                <div class="owner-actions" *ngIf="isMatchOwner$ | async">
                    <div>
                        <button (click)="cancelTheMatch()">cancel</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="participant-wrapper">
        <mat-card>
            <div class="participant-header">
                <div>danh sach nguoi choi</div>
            </div>
            <div class="participant-body">
                <div class="participant-left">
                    <div class="participant"
                         *ngFor="let player of match.participants.slice (0,match.participants.length/2+1)">
                        <div class="avt">
                            <span class="material-icons">account_circle</span>
                        </div>
                        <div class="info">
                            <label>{{player.email}}</label>
                        </div>
                    </div>
                </div>
                <div class="participant-right">
                    <div class="participant"
                         *ngFor="let player of match.participants.slice (match.participants.length/2+1, match.participants.length)">
                        <div class="avt-wrapper">
                            <div class="avt">
                                <span class="material-icons">account_circle</span>
                            </div>
                        </div>
                        <div class="info">
                            <label>{{player.email}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="participant-actions">
                <div *ngIf="!(joined$ | async)">
                    <button (click)="joinTheMatch()">join</button>
                </div>
                <div *ngIf="joined$ | async">
                    <button (click)="leaveTheMatch()">left the match</button>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
