<mat-grid-list *ngIf="match" cols="2" class="match-detail-wrapper">
    <mat-grid-tile class="match-info">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Thông tin trận</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="general-info">
                    <div>
                        <span>thời gian: </span>
                        <label> {{match.startDate}}</label>
                    </div>
                    <div>
                        <span>địa điểm: </span>
                        <label> {{match.location}}</label>
                    </div>
                    <div>
                        <span>mô tả: </span>
                        <label>{{match.description}}</label>
                    </div>
                    <div>
                        <span>số lượng thành viên: </span>
                        <label>{{match.numberOfPlayers}}</label>
                    </div>
                </div>
                <div class="owner-info">
                    <div>
                        <span>lien he: </span>
                        <label>{{owner.firstName}}</label>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>danh sach nguoi choi</mat-card-title>
                <div *ngIf="!(joined$ | async)">
                    <button mat-button (click)="joinTheMatch()">join</button>
                </div>
                <div *ngIf="joined$ | async">
                    <button mat-button (click)="leaveTheMatch()">left the match</button>
                </div>
            </mat-card-header>
            <mat-card-content class="participant-wrapper">
                <div class="participant-left">
                    <div class="participant"
                         *ngFor="let player of match.participants.slice (0,match.participants.length/2+1)">
                        <div class="info">
                            <label>{{player.email}}</label>
                        </div>
                        <div class="avt-wrapper">
                            <div class="avt">
                                <img src="assets/img/unknown-avt.png" alt="avt">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="participant-right">
                    <div class="participant"
                         *ngFor="let player of match.participants.slice (match.participants.length/2+1, match.participants.length)">
                        <div class="avt-wrapper">
                            <div class="avt">
                                <img src="assets/img/unknown-avt.png" alt="avt">
                            </div>
                        </div>
                        <div class="info">
                            <label>{{player.email}}</label>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>
