.match-list-wrapper {
    margin: 0 auto;
    width: 50%;
}

mat-card {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin-bottom: 20px;

    &:hover {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .13);
        cursor: pointer;
        border-color: #1ba0e2;
    }

    .match-card-header {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .time {

        }

        .slot-container {
        }
    }

    .match-card-body {
        padding-top: 20px;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgba(0, 0, 0, 0.2);
    }
}
