<div class="contact">
    <div class="say-hi">
        <div class="c">C</div>
        <h1><b>Say hi</b></h1>
        <h3>xuanchuongdp@gmail.com</h3>
    </div>
    <br>
    <section class="find-me">
        <h2><b>Find me on</b></h2>
        <div class="navigator-bar">
            <ul>
                <li>
                    <span>
                        <a href="https://facebook.com/" target="_blank">facebook</a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="https://vn.linkedin.com/">linkedin</a>
                    </span>
                </li>
            </ul>
        </div>
    </section>
</div>