.contact {
        .say-hi {
            > .c {
                font-size: 144px;
                font-weight: 400;
                line-height: 144px;
                opacity: 0.2;
            }
            > div {
                font-size: 32px;
                font-weight: 36px;
                font-weight: 700;
            }
        }
        .find-me {
            span {
                font-size: 18px;
                line-height: 24px;
            }
            .navigator-bar {
                ul {
                    flex-direction: column;
                    a {
                    display: inline-block;
                    color: #000;
                    opacity: 0.7;
                    text-decoration: none;
                    }
                }
            }
        }
}