@import '../../utils/utils/utils';

.match-container {
  .match-table {
    width: 100%;

    .match-table-body {
      display: flex;
      flex-wrap: wrap;

      .match-item-wrapper {
        &:hover {
          box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .13);
          cursor: pointer;
          border-color: #1ba0e2;
        }

        width: 100%;
        margin: 20px;
        //padding: 1.5em;
        background-color: #fff;
        border: solid 1px #dce0e6;

        .match-item-link {

          color: #212121;

          &:visited {
            color: #212121;
          }

          .match-item {
            padding: 20px 20px;

            .title-box {
              .title {
                font-size: 1.5em;
                font-weight: 700;
                word-break: break-word;
              }
            }
          }

        }
      }
    }
  }
}