<div class="match-container">
	<h2>Matches recommended for you</h2>
	<div class="match-table">
		<div class="match-table-body">
			<div *ngFor="let match of availableMatches; index as matchId" class="match-item-wrapper">
				<a class="match-item-link" routerLink="/matches/{{match.id}}">
					<div class="match-item">
						<div class="title-box">
							<span class="title">{{match.title}}</span>
						</div>
						<div>
							<span>Slot: </span>
							<span>{{match.numberOfPlayers}}</span>
						</div>
						<div>{{match.description}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>