<form [formGroup]="form" (ngSubmit)="onSubmit()" name="create-match-form" method="post" class="create-match-form submit-form"
	  id="create-match-form">
	<div class="form-wrapper">
		<div class="title input-field">
			<label for="title">Tiêu đề</label>
			<input type="text" id="title" name="title" formControlName="title"/>
		</div>
		<div class="start-time input-field">
			<label for="start-time">Thời gian</label>
			<input type="date" id="start-time" name="start-time" formControlName="startDate"/>
		</div>
		<div class="location input-field">
			<label for="location">Địa điểm</label>
			<input type="text" id="location" name="location" formControlName="location"/>
		</div>
		<div class="player-number input-field">
			<label for="number-players">số lượng cầu thủ</label>
			<input type="number" id="number-players" formControlName="numberOfPlayers" name="number-players"/>
		</div>
		<div class="description input-field">
			<label for="description">Mô tả</label>
			<input type="text" id="description" name="description" formControlName="description"/>
		</div>
		<div class="form-actions">
			<div class="left-div">
				<button class="btn">Tạo</button>
			</div>
		</div>
	</div>
</form>